vendors = offical
.animation-base
    transition-timing-function cubic-bezier(0.25, 0.46, 0.45, 0.94)
    transition-duration 250ms

.animate-toggle-left
    @extend .animation-base
    &.ng-hide-add
        transform translateX(0)
        opacity 1
        &.ng-hide-add-active
            transform translateX(-100%)
            opacity 0
    &.ng-hide-remove
        transform translateX(-100%)
        display block !important
        opacity 0
        &.ng-hide-remove-active
            transform translateX(0)
            opacity 1

.animate-toggle-right
    @extend .animation-base
    &.ng-hide-add
        transform translateX(0)
        opacity 1
        &.ng-hide-add-active
            transform translateX(100%)
            opacity 0
    &.ng-hide-remove
        transform translateX(100%)
        display block !important
        opacity 0
        &.ng-hide-remove-active
            transform translateX(0)
            opacity 1

.animate-slide-left
    @extend .animation-base
    &.ng-hide-add
        transform translateX(0)
        opacity 1
        &.ng-hide-add-active
            transform translateX(-100%)
            opacity 0
    &.ng-hide-remove
        transform translateX(100%)
        display block !important
        opacity 0
        &.ng-hide-remove-active
            transform translateX(0)
            opacity 1

.animate-slide-right
    @extend .animation-base
    &.ng-hide-add
        transform translateX(0)
        opacity 1
        &.ng-hide-add-active
            transform translateX(100%)
            opacity 0
    &.ng-hide-remove
        transform translateX(-100%)
        display block !important
        opacity 0
        &.ng-hide-remove-active
            transform translateX(0)
            opacity 1

.animate-opcity
    @extend .animation-base
    &.ng-hide-add
        opacity 1
        visibility visible
        &.ng-hide-add-active
            opacity 0
            visibility hidden
    &.ng-hide-remove
        opacity 0
        visibility hidden
        &.ng-hide-remove-active
            opacity 1
            visibility visible