@import "window.styl"

.codearea
    display block
    max-width 100%
    margin 10px 0
    padding 5px
    border 1px solid $GREY
    border-radius 3px
    overflow auto
    white-space pre
    &::-webkit-scrollbar
        width 0
        height 5px

md-select:not([disabled]):focus
    .md-select-label
        color inherit !important

md-select
    @extend *[no-drag]
    padding 0
    .md-select-label
        &.md-placeholder
            color inherit !important
    +md-progress-circular
        transform scale(0.45) !important

// left panel
.home-sidenav
    width 90px

#weekday-list
    width 100%
    .md-button
        width 100%
        height 100%
        max-height 40px
        margin 0
        padding 0px 16px
        overflow hidden
        border-radius 0
        text-align left
        white-space normal
    md-list-item
        &.active
        &:hover
            background $WHITE
            .md-button
                background $WHITE !important
                span
                    color $LIGHT_BLACK
                    font-weight 600 !important

// bangumi list
.bangumi-list-wrapper
    h5
        padding-left 20px

// bangumi detail
.bangumi-detail-list
    md-list-item
        min-height 0
        padding 0
        margin 20px 0
    md-icon
        margin 0 !important
        webkit-user-select none
    p
    pre
        line-height 24px
        margin 0 0 0 15px
    p
        img
            vertical-align middle

// settings
#settings-area
    @extend .content-high