// vars
// --------------------------------
$appHeight = 604px
$titleHeight = 50px
$contentHeight = $appHeight - $titleHeight
// --------------------------------

// mixins
// --------------------------------
buildIconSelector(size)
    .md-{size}
        font-size unit(size, px)
// --------------------------------

// animation
@import "animation"

// color
@import "color"

.transition-enable
    transition-timing-function cubic-bezier(0.25, 0.46, 0.45, 0.94)
    transition-duration 250ms
    transition-property all

*[no-select]
    -webkit-user-select none

*[no-drag]
    -webkit-app-region no-drag

.title-high
    height $titleHeight

.content-high
    height $contentHeight

$iconSize = 24 32 48
for $size in $iconSize
    buildIconSelector($size)

// global style & reset
html
    max-height $appHeight
    overflow hidden
    background transparent

body
    @extend .transition-enable
    overflow hidden
    background transparent

h1
h2
h3
h4
h5
h6
    margin-bottom 1rem
    margin-top 1rem

pre
    flex 1
    margin 0
    white-space pre-wrap
    text-rendering optimizeLegibility
    font-family RobotoDraft, Roboto, 'Helvetica Neue', sans-serif

.long-string-wrapper
    overflow-x scroll
    &::-webkit-scrollbar
        width 0
        height 0
        line-height 0
    .long-string-inner
        white-space nowrap

a
    &.link
        color #4472B9
        text-decoration none
        border-bottom 2px solid transparent
        cursor pointer
        &:hover
            color #333
            border-bottom-color #999
        &:active
            outline none

::-webkit-scrollbar
    width 10px

::-webkit-scrollbar-track
    background none

::-webkit-scrollbar-thumb
    @extend .transition-enable
    background $LIGHT_GREY

::-webkit-scrollbar-thumb:hover
    background $LIGHT_GREY

// app layer
#app
    box-shadow 0px 0px 4px 0px rgba(0,0,0,0.7)
    margin auto
    width calc(100% - 4px)
    margin-top 2px
    background $WHITE // basic background color

// titlebar
.titlebar
    @extend .title-high
    width 100%
    -webkit-app-region drag
    >div
        height inherit
        font-weight 600

// control button
.titlebar-button
    @extend .transition-enable
    @extend *[no-drag]
    @extend *[no-select]
    display inherit
    position relative
    height 100%
    padding 0 13px
    color $DARK_GREY
    cursor pointer
    md-icon
        color $DARK_GREY
    &.active
    &:hover
        color $WHITE
        background rgba(0,0,0,0.15)
        &::after
            content ''
            position absolute
            left 1px
            bottom 1px
            width calc(100% - 2px)
            height 2px
            background $WHITE
        md-icon
            color $WHITE
    p
        padding-left 5px

md-select:not([disabled]):focus
    .md-select-label
        color inherit

md-select
    padding 0
    .md-select-label
        &.md-placeholder
            color inherit
    +md-progress-circular
        transform scale(0.45) !important

// weekday list
.weekday-menu
    border-right 1px solid $LIGHT_GREY
    md-list
        md-list-item
            color $LIGHT_GREY
            &.active
            &:hover
                color $LIGHT_BLACK
                p
                    font-weight 600 !important

// content
#bangumi-area
    @extend .content-high

// bangumi list
.bangumi-list-wrapper
    h5
        padding-left 20px

// bangumi detail
.bangumi-detail-list
    md-list-item
        min-height 0
        padding 0
        margin 20px 0
    md-icon
        margin 0 !important
        webkit-user-select none
    p
    pre
        line-height 24px
        padding-left 15px
    p
        img
            vertical-align middle

// settings
#settings-area
    @extend .content-high