<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Radioit</title>
    <link rel="stylesheet" href="static/css/angular-material.min.css">
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/css/icon.css">
    <link rel="stylesheet" href="static/css/lazy-image-style.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body ng-app="radioit">

<div id="app" ng-controller="AppCtrl as app">

<!-- title bar start -->
<div no-select class="titlebar paper-bg-light-black paper-text-white" layout="row" layout-align="start center">

    <div layout="row" layout-align="start center">
        <div class="titlebar-button active" tab-id="home">
            <md-icon icon-font-library="material-icons" aria-label="home">home</md-icon>
            <p>Home</p>
        </div>
        <div class="titlebar-button" tab-id="settings">
            <md-icon icon-font-library="material-icons" aria-label="settings">settings</md-icon>
            <p>Settings</p>
        </div>
    </div>

    <div flex style="padding-left:50px" layout="row" layout-align="start center" ng-controller="CatalogueSwitchCtrl as catalogueSwitch">
        <md-select placeholder="pick a channel" ng-model="catalogueSwitch.selectedCatalogue" ng-change="catalogueSwitch.switch()" no-select no-drag>
            <md-option ng-value="catalogue.id" ng-repeat="catalogue in catalogueSwitch.list">{{ catalogue.name }}</md-option>
        </md-select>
        <md-progress-circular id="loadingSpinner" md-mode="indeterminate" class="md-accent" ng-show="app.isLoading()"></md-progress-circular>
        <span flex></span>
    </div>

    <div layout="row" layout-align="start center">
        <div minimize-button class="titlebar-button">
            <md-icon icon-font-library="material-icons" aria-label="minimize">keyboard_arrow_down</md-icon>
        </div>
        <div close-button class="titlebar-button">
            <md-icon icon-font-library="material-icons" aria-label="close">close</md-icon>
        </div>
    </div>

</div>
<!-- title bar end -->

<!-- tab = home start -->
<div id="tab-home" layout="row" class="paper-bg-white toggle-left">
    <!-- weekday left start -->
    <span class="weekday-menu" ng-controller="WeekdayCtrl as weekday">
        <md-list>
            <md-list-item ng-repeat="day in weekday.day" ng-class="{'active' : weekday.isSelected(day.id)}" ng-click="weekday.switchDay(day.id)">
                <p>{{ day.name }}</p>
            </md-list-item>
        </md-list>
    </span>
    <!-- weekday left end -->
    <!-- bangumi content start -->
    <md-content id="bangumi-area" flex md-scroll-y>
        <div ui-view></div>
    </md-content>
    <!-- bangumi content end -->
</div>
<!-- tab = home end -->

<!-- tab = settings start -->
<div class="tab-settings" id="settings-area" class="toggle-right">
    
</div>
<!-- tab = settings end -->
</div><!-- AppCtrl end -->

<script>
require( './lib/app.js' );
</script>

<!-- Angular Material Dependencies -->
<script src="static/js/angular.min.js"></script>
<script src="static/js/angular-animate.min.js"></script>
<script src="static/js/angular-aria.min.js"></script>
<script src="static/js/angular-material.js"></script>
<script src="static/js/angular-ui-router.min.js"></script>

<!-- Angular vendors -->
<script src="static/js/angular-lazy-img.min.js"></script>

<!-- startup angular app -->
<script src="static/js/bundle.js"></script>

</body>
</html>