<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Radioit</title>
    <link rel="stylesheet" href="static/css/angular-material.min.css">
    <link rel="stylesheet" href="static/css/font.css">
    <link rel="stylesheet" href="static/css/icon.css">
    <link rel="stylesheet" href="static/css/lazy-image-style.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>
<body ng-app="radioit">

<div id="app" ng-controller="AppCtrl as app" ng-cloak>

<!-- title bar start -->
<div no-select class="titlebar paper-bg-light-black paper-text-white" layout="row" layout-align="start center">
    <div flex="10"></div>
    <!-- tab start -->
    <div layout="row" layout-align="start center">
        <div class="titlebar-button" ng-class="{active:app.selectedTabName=='home'}" ng-click="app.selectTab('home')">
            <md-icon icon-font-library="material-icons" aria-label="home">home</md-icon>
            <p>{{ 'TAG_HOME_NAME' | translate }}</p>
        </div>
        <div class="titlebar-button" ng-class="{active:app.selectedTabName=='favorite'}" ng-click="app.selectTab('favorite')">
            <md-icon icon-font-library="material-icons" aria-label="favorite">favorite</md-icon>
            <p>{{ 'TAG_FAVORITE_NAME' | translate }}</p>
        </div>
        <div class="titlebar-button" ng-class="{active:app.selectedTabName=='explore'}" ng-click="app.selectTab('explore')">
            <md-icon icon-font-library="material-icons" aria-label="explore">explore</md-icon>
            <p>{{ 'TAG_EXPLORE_NAME' | translate }}</p>
        </div>
        <div class="titlebar-button" ng-class="{active:app.selectedTabName=='settings'}" ng-click="app.selectTab('settings')">
            <md-icon icon-font-library="material-icons" aria-label="settings">settings</md-icon>
            <p>{{ 'TAG_SETTINGS_NAME' | translate }}</p>
        </div>
    </div>
    <!-- tab end -->
    <div flex></div>
    <!-- control start -->
    <div layout="row" layout-align="start center">
        <div minimize-button class="titlebar-button">
            <md-icon icon-font-library="material-icons" aria-label="minimize">keyboard_arrow_down</md-icon>
        </div>
        <div close-button class="titlebar-button">
            <md-icon icon-font-library="material-icons" aria-label="close">close</md-icon>
        </div>
    </div>
    <!-- control end -->
</div>
<!-- title bar end -->

<!-- tab = home start -->
<md-content class="paper-bg-white content-high animate-opcity" ng-show="app.selectedTabName=='home'" layout="row" ng-include="'static/view/tab_home.html'"></md-content>
<!-- tab = home end -->

<!-- tab = explore start -->
<div class="paper-bg-white animate-opcity" ng-show="app.selectedTabName=='explore'" ng-include="'static/view/tab_explore.html'"></div>
<!-- tab = explore end -->

<!-- tab = settings start -->
<div class="paper-bg-white animate-opcity" ng-show="app.selectedTabName=='settings'" ng-include="'static/view/tab_settings.html'"></div>
<!-- tab = settings end -->

</div><!-- AppCtrl end -->

<script>
require( './lib/app.js' );
</script>

<!-- Angular Dependencies -->
<script src="static/js/angular.min.js"></script>
<script src="static/js/angular-messages.min.js"></script>
<script src="static/js/angular-animate.min.js"></script>
<script src="static/js/angular-aria.min.js"></script>
<script src="static/js/angular-sanitize.min.js"></script>

<!-- Angular vendors -->
<script src="static/js/angular-material.min.js"></script>
<script src="static/js/angular-ui-router.min.js"></script>
<script src="static/js/angular-lazy-img.min.js"></script>
<script src="static/js/angular-translate.min.js"></script>

<!-- startup angular app -->
<script src="static/js/bundle.js"></script>

</body>
</html>